/* App.css */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  background-image: url('https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background.jpg');
  background-size: 2540px ;
  background-repeat: no-repeat;
}

p{
  color: white;
  font-weight: 700;
}

/* Navigation bar styles */
.navbar {
  background-color: #555;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav-logo {
  font-size: 36px;
  font-weight: bold;
  color: #e50914;
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: -2px;
}

.nav-tabs {
  display: flex;
  gap: 20px;
}

.nav-tab {
  cursor: pointer;
  padding: 10px;
  color: #8a2020;
  transition: color 0.3s;
}

.nav-tab:hover {
  color: #474540;
}

/* Styled-components styles */
.NavigationContainer {
  background-color: #555;
  padding: 10px;
  text-align: center;
}

.NavList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavItem {
  display: inline-block;
  margin: 0 10px;
}

.NavLink {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #00dd00;
  }
}

/* Other styles */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  cursor: pointer;
  margin: 10px;
}

.movie-card img {
  width: 100%;
  border-radius: 5px;
}

.movie-card p {
  text-align: center;
}

.movie-detail {
  margin: 20px;
  padding: 20px;
  border: 2px solid #363030;
  background-color: #555147;
  color: #fff;
  max-width: 600px;
}

.movie-detail h2 {
  color: #ffffff;
  margin-bottom: 15px;
}

.movie-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}

.movie-detail {
  max-width: 700px;
}

.movie-poster img {
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* Search bar styles */
.search-bar {
  margin-left: auto; /* Push the search bar to the right */
}

.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
}
/*Scalability*/
/*Laptop screen*/
@media(max-width:1024px){ 
  body{
    background-size: 5500px;
  }
  .app-container{
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  .movie-card p {
    text-align: center;
    max-width: 200px;
    font-size:21px;
    font-weight: 700;
  }
 }
  /*Tablets screen*/
 @media (max-width: 768px){
  .app-container {
    display: flex;
    justify-content: space-evenly;
    margin: 8px;
    max-width: 680px;
    margin: 0 auto;
  }
  .movie-card img {
    width: 140px;
    padding: 10px;
  }
  .movie-card-title{
    font-size: 12px;
  }
  .movie-detail {
    margin: 10px;
    padding: 10px;
    max-width: 400px;
  }
  .movie-card p {
    text-align: center;
    max-width: 180px;
  }
  .movie-detail h2 {
    color: #e50914;
    margin-bottom: 15px;
  }
   .movie-detail-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
  }
  .movie-detail {
    max-width: 400px;
  }
  .movie-poster img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
  }
  .movie-card p {
    text-align: center;
    max-width: 110px;
    font-size: 15px;
  }
 }
 /*Mobile devices*/
 @media (max-width: 425px){
  body{
    background-size: 3540px ;
  }
  input{
    width: 100%;
  }
  .app-container{
    max-width: 680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  .movie-card p {
    text-align: center;
    max-width: 110px;
    font-size: 15px;
  }
  .movie-card{
    padding-bottom: 34px;
  }
  .navbar{
    width: 520px;
  }
  }
 