.movie-card {
  cursor: pointer;
  margin: 10px;
  width: 500px; /* Set a fixed width for the movie card */
  height: 500px; /* Set a fixed height for the movie card */
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.movie-card img {
  width: 100%; /* Make the image fill the entire width of the movie card */
  height: auto; /* Allow the height of the image to adjust proportionally */
  border-radius: 5px;
}

.movie-card p {
  text-align: center;
}
