.movie-detail {
    margin: 20px;
    padding: 20px;
    border: 2px solid #e50914;
    background-color: #df101071;
    color: #fff;
    max-width: 400px;
  }
  
  .movie-detail h2 {
    color: #e50914;
    margin-bottom: 15px;
  }